<div style="background-image: url(<%= asset_path('bus_image13.jpg') %>); background-size: cover; background-position: center; height: 100vh; text-align: center;">
  <h1 style="color: white;">Welcome to Our Online Ticket Booking System</h1>
  <br>
  <%= form_with url: root_path, method: :get, local: true do |form| %>
    <%= form.label :source, style: "color: white;" %>
    <%= form.text_field :source %>
    <%= form.label :destination, style: "color: white;" %>
    <%= form.text_field :destination %>
    <%= form.submit 'Search' %>
  <% end %>
  <br>
  <h1 style="color: white;">Top Routes</h1>

  <div class="table-container" >
    <table>
      <thead>
        <tr>
          <th style="color: white;">Source</th>
          <th style="color: white;">Destination</th>
          <th style="color: white;">Distance</th>
        </tr>
      </thead>
      <tbody>
        <% if @routes.present? %>
          <% @routes.each do |route| %>
            <tr>
              <td style="color: blue;"><%= route.source %></td>
              <td style="color: blue;"><%= route.destination %></td>
              <td style="color: blue;"><%= route.distance %></td>
              <td>
                <%= link_to "Bus Details", bus_path(route), class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4">No routes found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
