 <%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.label :source %>
  <%= form.text_field :source %>
  <%= form.label :destination %>
  <%= form.text_field :destination %>
  <%= form.submit 'Search' %>
<% end %>

<h1>Top Routes</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Distance</th>
    </tr>
  </thead>
   <tbody>
    <% if @routes.present? %>
      <% @routes.each do |route| %>
        <tr>
          <td><%= route.source %></td>
          <td><%= route.destination %></td>
          <td><%= route.distance %></td>
          <td>
          <%= link_to "show", buses_path(route), class: "btn btn-primary" %>
          <td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">No routes found</td>
      </tr>
    <% end %>
  </tbody>
</table>
