<h1>Source: <%= @route.source %></h1>
<h1>Destination: <%= @route.destination %></h1>

<h2>Trains</h2>
<% if @trains.any? %>
  <ul>
    <% @trains.each do |train| %>
      <li>
        <%# <strong>Train ID:</strong> <%= train.id %>
        <strong>Train Name:</strong> <%= train.name %><br>
        <strong>Train Number:</strong> <%= train.number %><br>
        <%# <strong>Train class:</strong> <%= train.train_class %>
        <strong>Total seats:</strong> <%= train.total_seats %><br>
        <strong>Departure time:</strong> <%= train.departure_time.strftime("%I:%M %p") %><br>
        <strong>Arrival time:</strong> <%= train.arrival_time.strftime("%I:%M %p") %><br>
        <strong>Price:</strong> <%= train.price %><br>
        <%= link_to 'Booking', new_booking_path(bookable_id: train.id, bookable_type: "Train"), class: "btn btn-primary"%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Train available for this route.</p>
<% end %>


<%= link_to 'Back to Routes', trains_path, class: "btn btn-primary"%>
