<h1>Your Bookings</h1>

<% if @bookings.any? %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Booking id</th>
      <th>Name</th>
      <th>Your Booking</th>
      <th>Seat Number</th>
      <th>Date</th>
      <th>Action
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.id%></td>
      <td><%= booking.name%></td>
      <td><%= booking.bookable_type%></td>
      <td><%= booking.seat_no%></td>
      <td><%= booking.date%><td>
      <%= button_to "Delete", booking, method: :delete, confirm: "Are you sure?", class:"btn btn-danger" %>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p> you have no bookings.</p>
<% end%>
 

<% unless user_signed_in? %>
  <%= link_to 'Log in to book a ticket', new_user_session_path %>
<% end %>







