<h1 class="text-center">New Booking</h1>
<%= render 'shared/errors', object: @booking %>
<% byebug %>
<%= form_with(model: @booking, local: true, html: { class: "form-container" }) do |form| %>
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="form-group form-group-custom">
        <%= form.label :name, class: 'mb-3' %>
        <%= form.text_field :name, class: 'form-control form-control-custom' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group form-group-custom">
        <%= form.label :age, class: 'mb-3' %>
        <%= form.text_field :age, class: 'form-control form-control-custom' %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="form-group form-group-custom">
        <%= form.label :gender %>
        <%= form.select :gender, Booking.genders.keys.map { |g| [g.humanize, g] }, { prompt: 'Select Gender' }, class: 'form-control form-control-custom' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group form-group-custom">
        <%= form.label :seat_type %>
        <%= form.select :seat_type, Booking.seat_types.keys.map { |w| [w.humanize, w] }, { prompt: 'Select Seat Type' }, class: 'form-control form-control-custom' %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="form-group form-group-custom">
        <%= form.label :seat_no, class: 'mb-2' %>
        <%= form.select :seat_no, options_for_select((1..@train.total_seats).to_a - @train.bookings.pluck(:seat_no)), { prompt: 'Select Seat' }, class: 'form-control form-control-custom' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group form-group-custom">
        <%= form.label :date, class: 'mb-2' %>
        <%= form.date_select :date, {}, { class: 'form-control form-control-custom' } %>
      </div>
    </div>
  </div>
  <%= form.hidden_field :bookable_id, value: params[:bookable_id] %>
  <%= form.hidden_field :bookable_type, value: params[:bookable_type] %>
  <div class="actions text-center">
    <%= form.submit "Ticket Booking", class: "btn btn-primary btn-lg mb-2 btn-custom" %>
  </div>
<% end %>
