<h1>Booking Confirmation</h1>

<p>Dear <%= @user.id %>,</p>


<ul>
  <li>Booking ID: <%= @booking.id %></li>
  <li>Date: <%= @booking.date.strftime('%d %B %Y') %></li>
  <li>Seat Number: <%= @booking.seat_no %></li>
  <li>Name: <%= @booking.name %></li>
  <li>Age: <%= @booking.age %></li>
  <li>Gender: <%= @booking.gender %></li>
  <% if @booking.bookable_type == "Bus" %>
    <li> Bus Number: <%= Bus.find(@booking.bookable_id).number %></li>
    <li> Bus Name: <%= Bus.find(@booking.bookable_id).name %></li>
  <% elsif @booking.bookable_type == "Train" %>
    <li> Train Number: <%= Train.find(@booking.bookable_id).number %></li>
    <li> Train Name: <%= Train.find(@booking.bookable_id).name %></li>
  <% end %>
</ul>
