<%= form_with model: @route do |form| %>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <%= form.label :source, class: 'mb-2' %>
      <%= form.text_field :source, class: 'form-control form-control-lg rounded-0' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <%= form.label :destination, class: 'mb-2' %>
      <%= form.text_field :destination, class: 'form-control form-control-lg rounded-0' %>
    </div>
  </div>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <%= form.label :distance, class: 'mb-2' %>
      <%= form.text_field :distance, class: 'form-control form-control-lg rounded-0' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 mt-4">
    <%= form.submit  "Submit", class: 'btn btn-primary btn-lg rounded-0' %>
    <%= link_to "Bus Routes", routes_path, class: "btn btn-primary btn-lg rounded-0"%>
  </div>
</div>
<% end %>
