<div class="col-lg-12">
<div class="card rounded-0 mt-5 mb-5">
  <div class="card-body">
    <h2 class="text-center"> Bus route </h2>
  </div>
</div>
<%= link_to "add route",  new_route_path, class: "btn btn-primary btn-lg mb-4 rounded-0" %>
<%= link_to "Home", root_path, class: "btn btn-primary btn-lg mb-4 rounded-0"%>
<table class="table table-bordered">
 <thead>
  <tr>
    <th>source</th>
    <th>destination</th>
    <th>distance</th>
    <th>Actions</th>
  </tr>
</thead>
  <tbody>
    <% @routes.each do |route| %>
    <tr>
      <td><%= route.source%></td>
      <td><%= route.destination%></td>
      <td><%= route.distance%></td>
      <td>
      <%= link_to "Edit", edit_route_path(route), class: "btn btn-primary" %>
      <%= link_to "Delete", route_path(route), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
      </td>
      </tr>
      <% end %>
      </tbody>
</table>
