<%= link_to "Add Routes",  new_route_path, class: "btn btn-primary btn-lg mb-4 rounded-0" %>
<%= link_to "Home", root_path, class: "btn btn-primary btn-lg mb-4 rounded-0"%>
<table class="table table-bordered">
 <thead>
  <tr>
    <th>Source</th>
    <th>Destination</th>
    <th>Distance</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
  <tbody>
    <% @routes.each do |route| %>
    <tr>
      <td><%= route.source%></td>
      <td><%= route.destination%></td>
      <td><%= route.distance%></td>
      <td><%= link_to "Edit", edit_route_path(route), class: "btn btn-primary" %></th>
      <th><%= button_to "Delete", route, method: :delete, class:"btn btn-danger" %></td>
      </tr>
      <% end %>
      </tbody>
</table>
