<!-- app/views/routes/show.html.erb -->
<h1>Route: <%= @route.source %></h1>
<h1>Description: <%= @route.destination %></h1>

<h2>Buses</h2>
<% if @buses.any? %>
  <ul>
    <% @buses.each do |bus| %>
      <li>
        <strong>Bus_Name:</strong> <%= bus.name %><br>
        <strong>Bus_Number:</strong> <%= bus.number %><br>
        <strong>Bus_class:</strong> <%= bus.bus_class %><br>
        <strong>Total_seats:</strong> <%= bus.total_seats %><br>
        <strong>Departure time:</strong> <%= bus.departure_time.strftime("%I:%M %p") %><br>
        <strong>Arrival_time:</strong> <%= bus.arrival_time.strftime("%I:%M %p") %><br>
        <strong>Price:</strong> <%= bus.price %><br>
        <%= link_to 'Booking', new_booking_path, class: "btn btn-primary"%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No buses available for this route.</p>
<% end %>


<%= link_to 'Back to Routes', root_path, class: "btn btn-primary"%>
