<%= form_with model: @bus do |form| %>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <%= form.label :name, class: 'mb-2' %>
      <%= form.text_field :name, class: 'form-control form-control-lg rounded-0' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <%= form.label :number, class: 'mb-2' %>
      <%= form.text_field :number, class: 'form-control form-control-lg rounded-0' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <%= form.label :capacity, class: 'mb-2' %>
      <%= form.text_field :capacity, class: 'form-control form-control-lg rounded-0' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <%= form.label :bus_class, class: 'mb-2' %>
      <%= form.text_field :bus_class, class: 'form-control form-control-lg rounded-0' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 mt-4">
    <%= form.submit class: 'btn btn-primary btn-lg rounded-0' %>
    <%= link_to "Bus list", buses_path, class: "btn btn-outline-primary btn-lg rounded-0"%>
  </div>
</div>
<% end %>
